.task-list{
  list-style-type: none;
}

.task-list__item {
  display: flex;
  justify-content: space-between;

  .govuk-tag {
    padding: .5rem 1rem;
    background-color: $govuk-secondary-text-colour;
  }
}
