@import "node_modules/govuk-frontend/govuk/all";
@import "_cookie-banner";
@import "_date-component";
@import "_evidence-list";
@import "_success-component";
@import "_task-list";
@import "_progress-bar";
@import "_timeline-component.scss";
@import "_header";
@import "_timeout-modal";
@import "save-buttons-component";

body {
  @extend .govuk-body;
}

%task-list__item{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid $govuk-border-colour;
}

.list__item {
  @extend %task-list__item;
}

img {
  max-width: 100%;
}

.overview-banner {
  background-color: #e8f2ed;
  padding: 20px;
}

.saved-banner {
  background-color: #f3f2f1;
  padding: 0.01rem;
  border-left: 0.4rem solid #006600;
  margin-top: 1rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}

.ask-for-more-time-banner {
  background-color: #f3f2f1;
  padding: 0.01rem;
  border-left: 0.4rem solid $govuk-focus-colour;
  margin-top: 1rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}

.banner-line {
  border-bottom: 0.2rem solid #1d70b8;

}

.contact-us-component{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 2rem 0;
}

.guidance-inner-div{
  padding: 1.5rem 0
}

.guidance-li{
  padding-bottom: 1.5rem
}

.guidance-div{
  padding-bottom: 3rem
}

.appeal-help-div{
  word-wrap: break-word;
  padding-bottom: 4rem;
}

.cancel-button{
  display: inline-block;
  margin-left: 30px;
  padding-top: 5px;
}

.answer {
  white-space: pre-line;
}

pre {
  font-family: "GDS Transport", Arial, sans-serif;
  white-space: pre-wrap;
}

.link-button {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
  color: $govuk-brand-colour;
  padding: 0;
}

.link-button:hover {
  color: govuk-colour("light-blue");
}

.floater {
  float: right;
}



div.whatIsIt a.whatIsIt, div.gettingStarted a.gettingStarted,
div.fourStages a.fourStages, div.notifications a.notifications,
div.documents a.documents, div.offlineProcesses a.offlineProcesses,
div.guidance a.guidance, div.howToHelp a.howToHelp,
div.giveFeedback a.giveFeedback,{
  color: black;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  font-weight: bold;
}

.previous-button {
  float: left;
  padding-top: 8rem
}

div.inset-bold {
  font-size: larger;
  font-weight: 900;
  background-color: govuk-colour("light-grey");
  border-left-color: govuk-colour("black");
}
