@import "node_modules/govuk-frontend/govuk/all";
@import "_cookie-banner";
@import "_date-component";
@import "_evidence-list";
@import "_success-component";
@import "_task-list";
@import "_progress-bar";
@import "_timeline-component.scss";
@import "_header";

body {
  @extend .govuk-body;
}

%task-list__item{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid $govuk-border-colour;
}

.list__item {
  @extend %task-list__item;
}

img {
  max-width: 100%;
}

.overview-banner {
  background-color: #E1F0E9;
  padding: 20px;
}

.saved-banner {
  background-color: #f3f2f1;
  padding: 0.01rem;
  border-left: 0.4rem solid #006600;
  margin-top: 1rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}

.banner-line {
  border-bottom: 0.1rem solid #1d70b8;

}

.contact-us-component{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 2rem 0;
}

.guidance-inner-div{
  padding: 1.5rem 0
}

.guidance-li{
  padding-bottom: 1.5rem
}

.guidance-div{
  padding-bottom: 3rem
}

.appeal-help-div{
  word-wrap: break-word;
  padding-bottom: 4rem;
}


