@import "node_modules/govuk-frontend/govuk/all";
@import "_cookie-banner";
@import "_date-component";
@import "_evidence-list";
@import "_success-component";
@import "_task-list";

body {
  @extend .govuk-body;
}

%task-list__item{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid $govuk-border-colour;
}

.list__item {
  @extend %task-list__item;
}

img {
  max-width: 100%;
}