{% set pageTitleName = i18n.pages.cmaRequirements.datesToAvoidSection.enterADatePage.title %}
{% extends 'layout.njk' %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      descriptionText: i18n.error.summary.descriptionText,
      errorList: errorList
    }) }}
  {% endif %}
  <form method="post" action="{{ formAction }}" type="submit">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set errorMessage =  errors.day.text if errors.day %}
    {% set errorMessage =  errors.month.text if errors.month else errorMessage %}
    {% set errorMessage =  errors.year.text if errors.year else errorMessage %}
    {% set errorMessage =  errors.date.text if errors.date else errorMessage %}

    <h1 class="govuk-fieldset__legend--xl govuk-!-margin-top-0">{{ i18n.pages.cmaRequirements.datesToAvoidSection.enterADatePage.heading }}</h1>

    <p>{{ i18n.pages.cmaRequirements.datesToAvoidSection.enterADatePage.description | eval | safe }}</p>

    {{ govukDateInput({
      hint: {
        text: i18n.pages.cmaRequirements.datesToAvoidSection.enterADatePage.hint
      },
      id: 'date',
      name: 'date',
      errorMessage: {
        html: errorMessage
      } if errors,
      items: [
        {
          id: 'day',
          name: "day",
          classes: "govuk-input--width-2 govuk-input--error" if errorMessage else "govuk-input--width-2",
          value: date.day,
          attributes: {
          max: 31
        }
        },
        {
          id: 'month',
          name: "month",
          classes: "govuk-input--width-2 govuk-input--error" if errorMessage else "govuk-input--width-2",
          value: date.month,
          attributes: {
          max: 12
        }
        },
        {
          id: 'year',
          name: "year",
          classes: "govuk-input--width-4 govuk-input--error" if errorMessage else "govuk-input--width-4",
          value: date.year,
          attributes: {
          max: 9999
        }
        }
      ]
    }) }}

    {{ saveButtons() }}
  </form>
  {{ contactUs() }}
{% endblock %}
