{% set pageTitleName = pageTitle %}
{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ i18n.pages.addNonLegalRepresentative.title }}</h1>
  <h2 class="govuk-heading-m">{{ i18n.pages.addNonLegalRepresentative.stepOne }}</h2>
  <p class="govuk-body">{{ i18n.pages.addNonLegalRepresentative.instructionsPartOne }}</p>
  <a href="{{ paths.nonLegalRep.inviteToCreateAccount }}" class="govuk-button">{{ i18n.pages.addNonLegalRepresentative.linkPartOne }}</a>
  <h2 class="govuk-heading-m">{{ i18n.pages.addNonLegalRepresentative.stepTwo }}</h2>
  <p class="govuk-body">{{ i18n.pages.addNonLegalRepresentative.instructionsPartTwo }}</p>
  <a href="{{ paths.nonLegalRep.inviteToJoinAppeal }}" class="govuk-button">{{ i18n.pages.addNonLegalRepresentative.linkPartTwo }}</a>
  {{ contactUs() }}
{% endblock %}
