{% set pageTitleName = i18n.pages.updatePhoneNumber.title %}
{% extends "layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% import "helpers/text-helpers.njk" as text %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.validationErrors.errorSummary,
      errorList: errorList
    }) }}
  {% endif %}
  {% call govukFieldset({
    legend: {
      text: i18n.pages.updatePhoneNumber.title,
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}
  <form action="{{ paths.nonLegalRep.updatePhoneNumber }}" method="post" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukInput({
      id: "phoneNumber",
      name: "phoneNumber",
      type: "tel",
      value: nlrPhoneNumber,
      classes: "govuk-!-width-one-third",
      label: {
        text: i18n.pages.updatePhoneNumber.enterPhone
      },
      attributes: {
        spellcheck: "false"
      },
      errorMessage: {
        text: errors['phoneNumber'].text
      } if errors['phoneNumber']
    }) }}
    {{ saveButton({name: 'send', text: 'Submit'}) }}
  {% endcall %}
  </form>

  {{ contactUs() }}

{% endblock %}
