{% extends 'layout.njk' %}

{% set pageTitleName = 'Documents' %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Documents
        </h1>

        {% set documentsRows = [] %}
          {% for document in documents %}
            {% set documentsRows = (documentsRows.push(
              [
                {
                  text: document.dateUploaded
                },
                {
                  html: document.name
                }
              ]
              ), documentsRows) %}
          {% endfor %}
          {% else %}
            <p>No documents are available.</p>
          {% endif %}


          {{ govukTable({
            firstCellIsHeader: false,
            head: [
              {
                text: i18n.pages.detailViewers.common.dateUploaded
              },
              {
                text: i18n.pages.detailViewers.common.document
              }
            ],
            rows: documentsRows
          }) }}

      </div>
    </div>
  </div>
{% endblock %}