.idea
node_modules
yarn-error.log
public
.DS_Store
dump.rdb
build
test/coverage
mochawesome-report/
functional-output
allure-results
allure-report
.env
output
_output
.stryker-tmp
stryker.log
.vscode/
ia-aip-frontend.iml
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/test/java/.gradle/
/test/java/lib/
/test/java/Fortify Scan/
keys/
keys/server.key
keys/server.cert
