{
  "extends": "@istanbuljs/nyc-config-typescript",
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "**/*.d.ts"
  ],
  "reporter": [
    "html"
  ],
  "report-dir": "./test/coverage/html",
   "temp-directory": "./test/coverage/.nyc_output",
   "temp-dir": "./test/coverage/.nyc_output",
  "all": true
}
