{% extends '../layout.njk' %}
{% set pageTitleName = page.title %}

{% block content %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">{{ page.title }}</h1>
    {% if page.description %}
      <p class="govuk-body-l">{{ page.description}}</p>
    {% endif %}
    {% for section in page.sections %}
      {% if section.title %}
        <h2 class="govuk-heading-s">{{ section.title }}</h2>
      {% endif %}
      {% for item in section.content %}
        <p>{{ item | eval | safe }}</p>
      {% endfor %}
    {% endfor %}
  </div>
  {{ contactUs() if showContactUs }}
{% endblock %}