{% block beforeContent %}
{% endblock %}
{% set pageTitleName = i18n.pages.successPage.title %}

{% extends "layout.njk" %}

{% block content %}
  {% from "govuk/components/panel/macro.njk" import govukPanel %}
  {{ govukPanel({
    titleText: i18n.pages.caseBuildingSuccess.titleText,
    classes: mainClasses
  }) }}
  <h2 class="govuk-heading-m">{{ i18n.pages.successPage.whatHappensNext }}</h2>
  <div>
    <ul class="govuk-list govuk-list--bullet govuk-!-padding-left-4">
      <li>{{ i18n.pages.caseBuildingSuccess.answer | safe }}</li>
      <li>{{ i18n.pages.caseBuildingSuccess.date | eval | safe }}</li>
    </ul>
  </div>
  <p>{{ i18n.pages.caseBuildingSuccess.questions | safe }}</p>
  {{ govukButton({
    text: i18n.pages.successPage.seeProgress,
    href: "#"
  }) }}
  {{ contactUs() }}
{% endblock %}
