{% set pageTitleName = i18n.pages.reasonsForAppealUpload.title %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "components/evidence-list.njk" import evidenceList with context %}


{% extends "layout.njk" %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      descriptionText: i18n.error.summary.descriptionText,
      errorList: errorList
    }) }}
  {% endif %}

  <form action="/case-building/reason-for-appeal/supporting-evidence/upload" method="post"
        enctype="multipart/form-data">
    {% call govukFieldset({
      legend: {
        text: i18n.pages.reasonsForAppealUpload.heading,
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}
      <p class="govuk-body">{{ i18n.pages.reasonsForAppealUpload.uploadInfo }}</p>
      <a class="govuk-link" href="#">{{ i18n.pages.reasonsForAppealUpload.findOutMore }}</a>

      <div class="govuk-inset-text">
        {{ govukFileUpload({
          id: "file-upload",
          name: "file-upload",
          label: {
            html: i18n.pages.reasonsForAppealUpload.uploadFile | safe
          },
          errorMessage: {
            text: errorList[0].text
          } if (errorList)
        }) }}

        {{ govukButton({
          text: i18n.common.buttons.uploadFile,
          name: 'uploadFile',
          classes: "govuk-button--secondary",
          attributes: {
            formaction: '/case-building/reason-for-appeal/supporting-evidence/upload/file',
            formEnctype: 'multipart/form-data'
          }
        }) }}
      </div>
      {{ evidenceList(evidences, evidenceCTA) }}

      <div class="panel-background">
        <h2 class="govuk-heading-s">{{ i18n.pages.reasonsForAppealUpload.needMoreTime }}</h2>
        <ul>
          <li>{{ i18n.pages.reasonsForAppealUpload.evidence | safe }}</li>
        </ul>
      </div>
    {% endcall %}
  </form>
  <form action="/supporting-evidence/reasons-for-appeal/uploadFile" method="post">
    <div class="buttons__container">
      {{ govukButton({
        name: 'saveAndContinue',
        text: i18n.common.buttons.saveAndContinue,
        classes: "govuk-!-margin-right-1"
      }) }}
      {{ govukButton({
        text: i18n.common.buttons.saveForLater,
        name: "saveForLater",
        value: "saveForLater",
        href: "/case-building/task-list",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </form>

  {{ contactUs() }}

{% endblock %}
