{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set serviceName %}{{ i18n.serviceName }}{% endset %}
{% set serviceUrl %}{{ paths.common.casesList }}{% endset %}

{% macro header() %}
{{ govukHeader({
  homepageUrl: "https://www.gov.uk/",
  classes: "govuk-header--full-width-border",
  rebrand: true
}) }}

  {{ govukServiceNavigation({
    serviceName: serviceName,
    navigation: [
      {
        href: paths.common.casesList,
        text: i18n.components.header.casesList,
        active: paths.common.casesList in currentUrl
      },
      {
        href: paths.common.casesList + "#create-new-appeal",
        text: i18n.components.header.createNewAppeal
      },
      {
       href: paths.nonLegalRep.joinAppeal,
       text: i18n.components.header.joinAppeal,
       active: paths.nonLegalRep.joinAppeal in currentUrl
      },
      {
        href: paths.common.logout,
        text: i18n.components.header.signOut
      }
    ] if authenticated else [
      {
        href: paths.common.start,
        text: i18n.components.header.startAppeal,
        active: paths.common.start in currentUrl
      }
    ],
    rebrand: true
  }) }}
{% endmacro %}


