{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set serviceName %}{{ i18n.serviceName }}{% endset %}
{% set serviceUrl %}{{ paths.common.start }}{% endset %}
{% set navigationEndHtml %}
  {% if authenticated %}
  <li class="govuk-service-navigation__item govuk-service-navigation__navigation-end"><a class="govuk-service-navigation__link" href="/logout">{{ i18n.components.header.signOut }}</a></li>
  {% endif %}
{% endset %}

{% macro header() %}
{{ govukHeader({
  classes: "govuk-header--full-width-border",
  rebrand: true
}) }}
{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: serviceUrl,
  slots: {
    navigationEnd: navigationEndHtml
  },
  rebrand: true
}) }}
{% endmacro %}


