{% macro timeline(history) %}
  <h3 class="govuk-heading-s">Completed</h3>
  {% for event in history %}
    <h3 class="govuk-heading-s">{{ event.title }}</h3>
    <div class="inline-flow">
      <div class="timeline-tick"></div>
      <div><span class='govuk-body govuk-!-font-weight-bold'>{{ event.date }}</span> - {{ event.text }}</div>
    </div>
    {% for link in event.links %}
      <div class="timeline-margin-left">
        <h3 class="govuk-link govuk-heading-s govuk-!-margin-bottom-1">{{ link.title }}</h3>
        <a href="{{ link.href }}" class="govuk-link govuk-heading-s govuk-!-margin-bottom-1">{{ link.text }}</a>
      </div>
    {% endfor %}
  {% endfor %}
{% endmacro %}
