{%  macro timeline(links, date) %}
    <h3 class="govuk-headeing-s">Completed</h3>
         {%  for test in links %}
        <h3 class="govuk-headeing-s">{{ test.title }}</h3>
        <div style="display: inline-flex;">
            <span class="timeline-tick"></span>
            <div><span class='govuk-body govuk-!-font-weight-bold'>{{ date }}</span>{{ test.text }}</div>
        </div>
            {%  for test in test.link %}
        <div style="margin-left: 7rem">
            <h3 class="govuk-link govuk-headeing-s govuk-!-margin-bottom-1">{{ test.title }}</h3>
            <a href="{{test.href}}" class="govuk-link govuk-headeing-s govuk-!-margin-bottom-1">{{ test.text }}</a>
        </div>
    {% endfor %}
    {% endfor %}
{% endmacro %}
