{% macro timeoutModal() %}
  <div class="timeout-modal" id="timeout-modal" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-description" aria-hidden="true">
    <h2 class="govuk-heading-l" id="dialog-title">{{ i18n.components.timeoutModal.title }}</h2>
    <p id="modal-countdown" id="dialog-description">{{ i18n.components.timeoutModal.initialDescription }}</p>

    {{ govukButton({
      text: i18n.components.timeoutModal.cta,
      attributes: {
        id: 'extend-session'
      }
    }) }}
  </div>
  <div class="modal-overlay" id="modal-overlay" tabindex="-1" aria-hidden="true"></div>
{% endmacro %}
