{% set pageTitleName = i18n.pages.sponsorName.title %}
{% extends "layout.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      errorList: errorList
    }) }}
  {% endif %}

  <form method="post" action="{{ paths.appealStarted.sponsorName }}" type="submit">
    {% call govukFieldset({
      legend: {
        text: i18n.pages.sponsorName.title,
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {{ govukInput({
        label: {
          text: i18n.pages.sponsorName.sponsorGivenNames
        },
        classes: "govuk-input--width-20",
        id: "sponsorGivenNames",
        name: "sponsorGivenNames",
        value: sponsorGivenNames,
        errorMessage: {
          text: error["sponsorGivenNames"].text
        } if error["sponsorGivenNames"]
      }) }}

      {{ govukInput({
        label: {
          text: i18n.pages.sponsorName.sponsorFamilyName
        },
        classes: "govuk-input--width-20",
        id: "sponsorFamilyName",
        name: "sponsorFamilyName",
        value: sponsorFamilyName,
        errorMessage: {
          text: error["sponsorFamilyName"].text
        } if error["sponsorFamilyName"]
      }) }}

      {{ saveButtons() }}
    {% endcall %}
  </form>
  {{ contactUs() }}
{% endblock %}
