{% set pageTitleName = i18n.pages.sponsorAddress.title %}
{% extends 'layout.njk' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      descriptionText: i18n.error.summary.descriptionText,
      errorList: errorList
    }) }}
  {% endif %}
  <form action="{{ paths.appealStarted.sponsorAddress }}" method="post">
    {% call govukFieldset({
      legend: {
        text: i18n.pages.sponsorAddress.heading,
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {{ govukInput({
        formGroup: {
          classes: 'govuk-!-margin-bottom-3'
        },
        label: {
          html: i18n.pages.sponsorAddress.inputs.buildingAndStreet,
          classes: 'govuk-!-margin-bottom-2'
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-line-1",
        name: "address-line-1",
        value: address.line1,
        errorMessage: {
          text:  error['address-line-1'].text
        } if error['address-line-1']
      }) }}

      {{ govukInput({
        label: {
          html: i18n.pages.sponsorAddress.inputs.buildingAndStreet2
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-line-2",
        name: "address-line-2",
        value: address.line2
      }) }}

      {{ govukInput({
        label: {
          text: i18n.pages.sponsorAddress.inputs.town,
          classes: 'govuk-!-margin-bottom-2'
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-town",
        name: "address-town",
        value: address.city,
        errorMessage: {
          text:  error['address-town'].text
        } if error['address-town']
      }) }}

      {{ govukInput({
        label: {
          text: i18n.pages.sponsorAddress.inputs.county,
          classes: 'govuk-!-margin-bottom-2'
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-county",
        name: "address-county",
        value: address.county,
        errorMessage: {
          text:  error['address-county'].text
        } if error['address-county']
      }) }}

      {{ govukInput({
        label: {
          text: i18n.pages.sponsorAddress.inputs.postcode,
          classes: 'govuk-!-margin-bottom-2'
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-postcode",
        name: "address-postcode",
        value: address.postcode,
        errorMessage: {
          text:  error['address-postcode'].text
        } if error['address-postcode']
      }) }}
      {{ saveButtons() }}
    {% endcall %}
  </form>
  {{ contactUs() }}
{% endblock %}
