{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
 {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
    {% if errorList %}
        {{ govukErrorSummary({
            titleText: i18n.validationErrors.errorSummary,
            errorList: errorList
        }) }}
    {% endif %}

    <form action="{{ formAction }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% call govukFieldset({
            legend: {
                text: i18n.pages.asylumSupportPage.title,
                classes: "govuk-fieldset__legend--xl",
                isPageHeading: true
            }
        }) %}
            <p>{{ i18n.pages.asylumSupportPage.legend1 }}</p>
            <p>{{ i18n.pages.asylumSupportPage.legend2 | safe }}</p>

            {{ govukWarningText({
                text: i18n.pages.asylumSupportPage.attentionNotice,
                iconFallbackText: "Warning"
            }) }}

            {{ govukInput({
                label: {
                    text: i18n.pages.asylumSupportPage.asylumSupportReferenceNumberLabel
                },
                hint: {
                    text: i18n.pages.asylumSupportPage.hint
                },
                classes: "govuk-input--width-20",
                id: "asylumSupportRefNumber",
                name: "asylumSupportRefNumber",
                value: asylumSupportRefNumber,
                errorMessage: {
                    text:  errors['asylumSupportRefNumber'].text
                } if errors['asylumSupportRefNumber']
            }) }}
            {% if refundJourney %}
                {{ continueButton() }}
                {{ canelButton() }}
            {% else %}
                {{ saveButtons() }}
            {% endif %}
        {% endcall %}
    </form>
    {{ contactUs() }}
{% endblock %}
