{% set pageTitleName = title %}
{% extends "layout.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block content %}
    {% if errorList %}
        {{ govukErrorSummary({
            titleText: i18n.validationErrors.errorSummary,
            errorList: errorList
        }) }}
    {% endif %}
    <form method="post" action={{ formAction }}>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <h1 class="govuk-heading-xl">{{ i18n.pages.feeWaiverPage.title }}</h1>
        <p>{{ i18n.pages.feeWaiverPage.legend1 }}</p>
        {% if refundJourney %}
            <p>{{ i18n.pages.feeWaiverPage.legendForRefund }}</p>
            {{ continueButton() }}
            {{ canelButton() }}
        {% else %}
            <p>{{ i18n.pages.feeWaiverPage.legend2 }}</p>
            {{ continueButton() }}
        {% endif %}
    </form>
    {{ contactUs() }}
{% endblock %}