{% set pageTitleName = title %}
{% extends "layout.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block content %}
    {% if errorList %}
        {{ govukErrorSummary({
            titleText: i18n.validationErrors.errorSummary,
            errorList: errorList
        }) }}
    {% endif %}
    <form action={{ formAction }} method='post'>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% call govukFieldset({
            legend: {
                text: i18n.pages.feeWaiverPage.title,
                classes: "govuk-fieldset__legend--xl",
                isPageHeading: true
            }
        }) %}
            <p>{{ i18n.pages.feeWaiverPage.legend1 }}</p>
            <p>{{ i18n.pages.feeWaiverPage.legend2 }}</p>

            {{ continueButton() }}
        {% endcall %}
    </form>
    {{ contactUs() }}
{% endblock %}