{% set pageTitleName = title %}
{% extends "layout.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    {% if errorList %}
        {{ govukErrorSummary({
            titleText: i18n.validationErrors.errorSummary,
            errorList: errorList
        }) }}
    {% endif %}
    <form method="post" action={{ formAction }}>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <h1 class="govuk-heading-xl">{{ i18n.pages.stepsToHelpWithFees.title }}</h1>
        <div>
            {% if refundJourney %}
                <p>{{ i18n.pages.stepsToHelpWithFees.tipsRefund }}</p>
            {% else %}
                <p>{{ i18n.pages.stepsToHelpWithFees.tips }}</p>
            {% endif %}

            <ol class="govuk-list govuk-list--number">
                <li> {{ i18n.pages.stepsToHelpWithFees.bullet1 | safe }} </li>
                <li> {{ i18n.pages.stepsToHelpWithFees.bullet2 }} </li>
                <li> {{ i18n.pages.stepsToHelpWithFees.bullet3 }} </li>
                <li> {{ i18n.pages.stepsToHelpWithFees.bullet4 }} </li>
                <li> {{ i18n.pages.stepsToHelpWithFees.bullet5 }} </li>
            </ol>
        </div>

        {% if refundJourney %}
            {{ continueButton() }}
            {{ canelButton() }}
        {% else %}
            {{ continueButton() }}
            {{ govukButton({
                text: i18n.common.buttons.saveForLater,
                name: "saveForLater",
                value: "saveForLater",
                classes: "govuk-button--secondary"
            }) }}
        {% endif %}
    </form>
    {{ contactUs() }}
{% endblock %}