{% set pageTitleName = title %}
{% extends "layout.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    {% if errorList %}
        {{ govukErrorSummary({
            titleText: i18n.validationErrors.errorSummary,
            errorList: errorList
        }) }}
    {% endif %}
    <form method="post" action={{ paths.awaitingReasonsForAppeal.stepsToApplyForHelpWithFees }}>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <h1 class="govuk-heading-xl">{{ i18n.pages.stepsToHelpWithFees.title }}</h1>
        <div>
            <p>{{ i18n.pages.stepsToHelpWithFees.tips }}</p>
            <ol class="govuk-list govuk-list--number">
                <li> {{ i18n.pages.stepsToHelpWithFees.bullet1 | safe }} </li>
                <li> {{ i18n.pages.stepsToHelpWithFees.bullet2 }} </li>
                <li> {{ i18n.pages.stepsToHelpWithFees.bullet3 }} </li>
                <li> {{ i18n.pages.stepsToHelpWithFees.bullet4 }} </li>
                <li> {{ i18n.pages.stepsToHelpWithFees.bullet5 }} </li>
            </ol>
        </div>

        <div class="save-buttons__container">
            {{ govukButton({
                name: 'continue',
                text: i18n.common.buttons.continue,
                classes: "govuk-!-margin-right-1"
            }) }}

            {{ govukButton({
                text: i18n.common.buttons.saveForLater,
                name: "saveForLater",
                value: "saveForLater",
                classes: "govuk-button--secondary"
            }) }}
        </div>
    </form>
    {{ contactUs() }}
{% endblock %}