{% set pageTitleName = title %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "components/evidence-list-with-dynamic-title.njk" import evidenceList with context %}

{% extends "layout.njk" %}

{% block content %}
    {% if errorList %}
        {% set evalErrorList = [] %}
        {% for error in errorList %}
            {% set evalError = {
                key: error.kye,
                text: error.text | eval,
                href: error.href
            } %}
            {% set evalErrorList = (evalErrorList.push(evalError), evalErrorList) %}
        {% endfor %}
        {{ govukErrorSummary({
            titleText: i18n.error.summary.title,
            descriptionText: i18n.error.summary.descriptionText,
            errorList: evalErrorList
        }) }}
    {% endif %}

    <form action="{{ formSubmitAction }}" method="post">
        {% call govukFieldset({
            legend: {
                text: title,
                classes: "govuk-fieldset__legend--xl",
                isPageHeading: true
            }
        }) %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <p>{{ i18n.pages.uploadLocalAuthorityLetter.legend1 }}</p>
            <p>{{ i18n.pages.uploadLocalAuthorityLetter.legend2 }}</p>

            <div class="overview-banner govuk-!-margin-top-0">
                <p>{{ i18n.pages.uploadLocalAuthorityLetter.panelTitle }}</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{  i18n.pages.uploadLocalAuthorityLetter.panelBullet1 | safe }}</li>
                </ul>
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{  i18n.pages.uploadLocalAuthorityLetter.panelBullet2 | safe }}</li>
                </ul>
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{  i18n.pages.uploadLocalAuthorityLetter.panelBullet3 | safe }}</li>
                </ul>
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{  i18n.pages.uploadLocalAuthorityLetter.panelBullet4 | safe }}</li>
                </ul>
            </div>

            <div class="govuk-inset-text">
                {{ govukFileUpload({
                    id: "file-upload",
                    name: "file-upload",
                    label: {
                        text: i18n.pages.uploadLocalAuthorityLetter.fileUploadTitle | safe
                    },
                    errorMessage: {
                        text: errorList[0].text | eval
                    } if (errorList)
                }) }}

                {{ govukButton({
                    text: i18n.common.buttons.uploadFile,
                    name: 'uploadFile',
                    classes: "govuk-button--secondary",
                    attributes: {
                        formEnctype: 'multipart/form-data',
                        formaction: evidenceUploadAction + '?_csrf=' + csrfToken
                    }
                }) }}
            </div>
            {{ evidenceList(evidences, evidenceCTA, evidenceListTitle) }}
            {% if askForMoreTimeFeatureEnabled %}
                {% include "components/ask-for-more-time-panel.njk" %}
            {% endif %}
            {% if continueCancelButtons %}
                {{ continueButton() }}
                {{ canelButton() }}
            {% else %}
                {{ saveButtons() }}
            {% endif %}
        {% endcall %}
    </form>
    {{ contactUs() }}

{% endblock %}
