{% extends 'layout.njk' %}
{% from "components/progress-bar.njk" import progressBar with context %}
{% from "components/overview-timeline.njk" import timeline with context %}
{% set pageTitleName = i18n.pages.overviewPage.title %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="banner-line">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ name }}</h1>
          {% if appealRefNumber %}
            <p class="govuk-!-margin-top-1">{{ i18n.pages.overviewPage.appealRef }} {{ appealRefNumber }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if ended %}
        <div class="govuk-inset-text inset-bold">
          {{ i18n.pages.overviewPage.endedInsert }}
        </div>      
        {% else %}
          {{ progressBar(stages) }}
        {% endif %}
        <h2 class="govuk-heading-m">
          {{ i18n.pages.overviewPage.doThisNext.toDo if applicationNextStep.cta else i18n.pages.overviewPage.doThisNext.nothingToDo }}
        </h2>
        {% if saved %}
          <div class="saved-banner">
            <p class="govuk-!-padding-left-3">{{ i18n.pages.overviewPage.answersBeenSaved }}</p>
          </div>
        {% endif %}
        {% if askForMoreTimeInFlight %}
          <div class="ask-for-more-time-banner">
            <p class="govuk-!-padding-left-3">{{ i18n.pages.overviewPage.askedForMoreTime }}</p>
          </div>
        {% endif %}
        <div class="overview-banner govuk-!-margin-top-0">
          {% if applicationNextStep.cta.ctaTitle %}
             <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ applicationNextStep.cta.ctaTitle }}</h3>
          {% endif %}
          {% if askForMoreTimeInFlight and applicationNextStep.descriptionParagraphsAskForMoreTime %}
            {% set descriptionParagraphs = applicationNextStep.descriptionParagraphsAskForMoreTime %}
          {% else %}
            {% set descriptionParagraphs = applicationNextStep.descriptionParagraphs %}
          {% endif %}

          {% for paragraph in descriptionParagraphs %}
            <p>{{ paragraph | eval | safe }}</p>
          {% endfor %}

          {% if applicationNextStep.cta %}
            {% if applicationNextStep.cta.url %}
              {{ govukButton({
                text: i18n.common.buttons.continue,
                href: applicationNextStep.cta.url
              }) }}
            {% endif %}
            {% if applicationNextStep.cta.respondByText %}
              <p>
                {% if askForMoreTimeInFlight and applicationNextStep.cta.respondByTextAskForMoreTime %}
                  {{ applicationNextStep.cta.respondByTextAskForMoreTime | eval | safe }}
                {% else %}
                  {{ applicationNextStep.cta.respondByText | eval | safe }}
                {% endif %}
                {% if askForMoreTimeFeatureEnabled and applicationNextStep.allowedAskForMoreTime and not askForMoreTimeInFlight %}
                  <a href='{{ paths.common.askForMoreTime.reason }}' class='govuk-link'>{{ i18n.common.askForMoreTime.text }}</a>
                {% endif %}
              </p>
            {% endif %}
          {% endif %}
          {% if applicationNextStep.usefulDocuments %}
            <p><b>{{ applicationNextStep.usefulDocuments.title }}</b></p>
            <p>{{ applicationNextStep.usefulDocuments.url | eval | safe }}</p>
          {% endif %}
          {% if applicationNextStep.info %}
            <p><span class='govuk-!-font-weight-bold'>{{ applicationNextStep.info.title }}</span></p>
            <p>{{ applicationNextStep.info.url | eval | safe }}</p>
          {% endif %}
        </div>
        {{ timeline(history) }}
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="contact-us-component">
          <h2 class="govuk-heading-s">{{ i18n.pages.overviewPage.contactUs }}</h2>
          <p>{{ i18n.pages.overviewPage.askAQuestion }}</p>
          <p>
            {{ i18n.pages.overviewPage.telephone }}<br>
            {{ i18n.pages.overviewPage.telephoneNumber }}
          </p>
          <p>
            {{ i18n.pages.overviewPage.time }}
            <a href='https://www.gov.uk/call-charges' target='_blank' rel="noopener noreferrer"
               class='govuk-link'>{{ i18n.pages.overviewPage.charges }}</a></br>
            {{ i18n.pages.overviewPage.newWindow }}
          </p>
          <p>
            {{ i18n.pages.overviewPage.email | safe }}<br>
            <a href='mailto:{{ i18n.pages.overviewPage.emailLink }}'
               class="govuk-link">{{ i18n.pages.overviewPage.emailLink }}</a>
          </p>
          <p>{{ i18n.pages.overviewPage.weAimTo }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
