{% extends 'layout.njk' %}
{% from "components/progress-bar.njk" import progressBar with context %}
{% from "components/overview-timeline.njk" import timeline with context %}
{% set pageTitleName = i18n.pages.overviewPage.title %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ name }}</h1>
        {% if appealRefNumber %}
          <p class="govuk-!-margin-top-1">{{ i18n.pages.overviewPage.appealRef }} {{ appealRefNumber }}</p>
        {% endif %}
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="banner-line"></div>
        {% if ended %}
        <div class="govuk-inset-text inset-bold">
          {{ i18n.pages.overviewPage.endedInsert }}
        </div>      
        {% else %}
          {{ progressBar(stages) }}
        {% endif %}
        <h2 class="govuk-heading-m">
          {{ i18n.pages.overviewPage.doThisNext.toDo if applicationNextStep.cta else i18n.pages.overviewPage.doThisNext.nothingToDo }}
        </h2>
        {% if saved %}
          <div class="saved-banner">
            <p class="govuk-!-padding-left-3">{{ i18n.pages.overviewPage.answersBeenSaved }}</p>
          </div>
        {% endif %}
        {% if saveAndAskForMoreTime or askForMoreTime %}
          {% if saveAndAskForMoreTime %}
            {% set askForMoreTimeCopy = i18n.pages.overviewPage.savedAndAskedForMoreTime %}
          {% else %}
            {% set askForMoreTimeCopy = i18n.pages.overviewPage.askedForMoreTime %}
          {% endif %}
          <div class="ask-for-more-time-banner">
            <p class="govuk-!-padding-left-3">{{ askForMoreTimeCopy }}</p>
          </div>
        {% endif %}
        <div class="overview-banner govuk-!-margin-top-0">
          {% if applicationNextStep.cta.ctaTitle %}
             <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ applicationNextStep.cta.ctaTitle }}</h3>
          {% endif %}

          {% for paragraph in applicationNextStep.descriptionParagraphs %}
            <p>{{ paragraph | eval | safe }}</p>
          {% endfor %}

          {% if applicationNextStep.cta %}
            {% if applicationNextStep.cta.url %}
              {{ govukButton({
                text: i18n.common.buttons.continue,
                href: applicationNextStep.cta.url
              }) }}
            {% endif %}
            {% if applicationNextStep.cta.respondBy %}
              <p>
                {{ applicationNextStep.cta.respondBy | eval | safe }}
                {% if applicationNextStep.allowedAskForMoreTime and not askForMoreTimeInFlight %}
                  <a href='{{ paths.common.askForMoreTimeReason }}' class='govuk-link'>{{ i18n.common.askForMoreTime.text }}</a>
                {% endif %}
              </p>
            {% endif %}
            {# TODO: Refactor respondByText and respondByTextAskForMoreTime for respondBy on CQ and CMA states#}
            {% if applicationNextStep.cta.respondByText %}
              <p>
                {% if askForMoreTimeInFlight and applicationNextStep.cta.respondByTextAskForMoreTime %}
                  {{ applicationNextStep.cta.respondByTextAskForMoreTime | eval | safe }}
                {% else %}
                  {{ applicationNextStep.cta.respondByText | eval | safe }}
                {% endif %}
                {% if applicationNextStep.allowedAskForMoreTime and not askForMoreTimeInFlight %}
                  <a href='{{ paths.common.askForMoreTimeReason }}' class='govuk-link'>{{ i18n.common.askForMoreTime.text }}</a>
                {% endif %}
              </p>
            {% endif %}
            {% if applicationNextStep.cta.link %}
              {{ govukButton({
                text: applicationNextStep.cta.link.text,
                  href: applicationNextStep.cta.link.url
              }) }}
            {% endif %}
          {% endif %}
          {% if applicationNextStep.usefulDocuments %}
            <p><b>{{ applicationNextStep.usefulDocuments.title }}</b></p>
            <p>{{ applicationNextStep.usefulDocuments.url | eval | safe }}</p>
          {% endif %}
          {% if applicationNextStep.removeAppealFromOnlineReason %}
            <p>Your appeal was removed from the online service on <b>{{ applicationNextStep.removeAppealFromOnlineDate }}</b>. The reason for this is:</p>
            <p>{{ applicationNextStep.removeAppealFromOnlineReason }}</p>
          {% endif %}
          {% if applicationNextStep.info %}
            <p><span class='govuk-!-font-weight-bold'>{{ applicationNextStep.info.title }}</span></p>
            {% if applicationNextStep.info.text and ftpaFeatureEnabled %}
              <p>{{ applicationNextStep.info.text | eval | safe }}</p>
            {% endif %}
            {% if applicationNextStep.info.url %}
              <p>{{ applicationNextStep.info.url | eval | safe }}</p>
            {% endif %}
          {% endif %}
        </div>
        {{ timeline(history) }}
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="side-menu">
          {% if showChangeRepresentation %}
            <div class="side-menu__section">
                <h2 class="govuk-heading-s">{{ i18n.pages.overviewPage.changingRepresentation }}</h2>
                <p><a class='govuk-link' href='{{ paths.common.changeRepresentation }}'>{{ i18n.pages.overviewPage.noLongerRepresentingMyself }}</a></p>
            </div>
          {% endif %}
          {% if showFtpaApplicationLink %}
            <div class="side-menu__section">
              <p><a class='govuk-link' href='{{ paths.ftpa.ftpaApplication }}'>{{ i18n.pages.overviewPage.applyForFtpa }}</a></p>
            </div>
          {% endif %}
          {% if showPayLaterLink or provideMoreEvidenceSection or showAppealRequests %}
            <div class="side-menu__section">
              <h2 class="govuk-heading-s">{{ i18n.pages.overviewPage.iWantTo }}</h2>
              {% if showPayLaterLink %}
                <p><a class='govuk-link' href='{{ paths.common.payLater }}'>{{ i18n.pages.overviewPage.payForAppeal }}</a></p>
              {% endif %}
              {% if provideMoreEvidenceSection %}
                <p><a class="govuk-link" href='{{ paths.common.provideMoreEvidenceForm }}'>{{ i18n.pages.provideMoreEvidence.form.title }}</a></p>
              {% endif %}
              {% if showAppealRequests %}
                <p><a class="govuk-link" href='{{ paths.makeApplication.withdraw }}'>{{ i18n.pages.overviewPage.withdrawAppeal }}</a></p>
              {% endif %}
              {% if showAskForFeeRemission %}
                    <p><a class="govuk-link" href='{{ paths.appealSubmitted.feeSupportRefund }}'>{{ i18n.pages.overviewPage.askForFeeRemission }}</a></p>
              {% endif %}
            </div>
          {% endif %}
          {% if showAppealRequests or showAppealRequestsInAppealEndedStatus %}
              <div class="side-menu__section">
                  <h2 class="govuk-heading-s">{{ i18n.pages.overviewPage.appealRequests.sectionHeading }}</h2>
                       {% if showAppealRequests %}
                         <p><a class="govuk-link" href='{{ paths.makeApplication.updateAppealDetails }}'>{{ i18n.pages.overviewPage.appealRequests.askToChangeDetails }}</a></p>
                         <p><a class="govuk-link" href='{{ paths.makeApplication.linkOrUnlink }}'>{{ i18n.pages.overviewPage.appealRequests.askToLinkOrUnlink }}</a></p>
                         <p><a class="govuk-link" href='{{ paths.makeApplication.judgesReview }}'>{{ i18n.pages.overviewPage.appealRequests.askJudgeToReview }}</a></p>
                         <p><a class="govuk-link" href='{{ paths.makeApplication.other }}'>{{ i18n.pages.overviewPage.appealRequests.askForSomethingElse }}</a></p>
                       {% elif showAppealRequestsInAppealEndedStatus %}
                          <p><a class="govuk-link" href='{{ paths.makeApplication.reinstate }}'>{{ i18n.pages.overviewPage.appealRequests.askReinstateAppeal }}</a></p>
                          <p><a class="govuk-link" href='{{ paths.makeApplication.judgesReview }}'>{{ i18n.pages.overviewPage.appealRequests.askJudgeToReview}}</a></p>
                          {% if showAskForSomethingInEndedState %}
                            <p><a class="govuk-link" href='{{ paths.makeApplication.other }}'>{{ i18n.pages.overviewPage.appealRequests.askForSomethingElse }}</a></p>
                          {% endif %}
                      {% endif %}
              </div>
          {% endif %}
          {% if showHearingRequests %}
              <div class="side-menu__section">
                  <h2 class="govuk-heading-s">{{ i18n.pages.overviewPage.hearingRequests.sectionHeading }}</h2>
                    <p><a class="govuk-link" href='{{ paths.makeApplication.askChangeHearing }}'>{{ i18n.pages.overviewPage.hearingRequests.askToChangeYourHearing }}</a></p>
              </div>
          {% endif %}
        <div class="contact-us-component">
          <h2 class="govuk-heading-s">{{ i18n.pages.overviewPage.contactUs }}</h2>
          <p>{{ i18n.pages.overviewPage.askAQuestion }}</p>
          <p>
            {{ i18n.pages.overviewPage.telephone }}<br>
            {{ i18n.pages.overviewPage.telephoneNumber }}
          </p>
          <p>
            {{ i18n.pages.overviewPage.time }}
            <a href='https://www.gov.uk/call-charges' target='_blank' rel="noopener noreferrer"
               class='govuk-link'>{{ i18n.pages.overviewPage.charges }}</a></br>
            {{ i18n.pages.overviewPage.newWindow }}
          </p>
          <p>
            {{ i18n.pages.overviewPage.email | safe }}<br>
            <a href='mailto:{{ i18n.pages.overviewPage.emailLink }}'
               class="govuk-link">{{ i18n.pages.overviewPage.emailLink }}</a>
          </p>
          <p>{{ i18n.pages.overviewPage.weAimTo }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
