{% extends './layout.njk' %}
{% block beforeContent %}
{%  endblock %}
{% set pageTitleName = i18n.pages.successPage.title %}
{% block content %}
 {% from "govuk/components/panel/macro.njk" import govukPanel %}
    {% if late %}
    {{ govukPanel({
        titleText: i18n.pages.successPage.outOfTime.panel,
        classes: mainClasses
    }) }}
    {%  else %}
        {{ govukPanel({
            titleText: i18n.pages.successPage.inTime.panel,
            classes: mainClasses
        }) }}
    {%  endif %}
    <h2 class="govuk-heading-m">{{i18n.pages.successPage.whatHappensNext}}</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ i18n.pages.successPage.askHomeOffice }}</li>
        <li>{{ i18n.pages.successPage.whatToDoNext }}</li>
        <li>{{ i18n.pages.successPage.timescale | eval | safe }}</li>
    </ul>
        <div class="panel-background">
            <h2 class="govuk-heading-s govuk-!-padding-top-4">{{ i18n.pages.successPage.thingsYouCanDo | safe }}</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/immigration-asylum-tribunal"> {{ i18n.pages.successPage.readMore | safe }}</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="#"> {{ i18n.pages.successPage.readMore | safe }}</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="{{ paths.guidancePages.moreHelp }}">{{ i18n.pages.successPage.findOutMore | safe }}</a></li>
            </ul>
         </div>
    {{ govukButton({
        text: i18n.pages.successPage.seeProgress,
        href: paths.overview
    }) }}
    {{ contactUs() }}
{% endblock %}

