{% extends './layout.njk' %}

{% block content %}
 {% from "govuk/components/panel/macro.njk" import govukPanel %}
    {{ govukPanel({
        titleText: "Your appeal application \n has been sent.",
        classes: mainClasses
    }) }}
    <h2 class="govuk-heading-m">What happens next</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li>You will receive a notification to confirm that the Tribunal has received your appeal. </li>
        <li>A tribunal case worker will contact you to by <strong>{{ date }}</strong> to tell you what to do next</li>
        <li>If you havent heard from us by <strong>{{ date }}</strong> call us on <b>0300 123 1711</b> or email customer.service@justice.gov.uk</li>
    </ul>
    <div class="panel-background">
        <h2 class="govuk-heading-m">Things you can do now</h2>
        <ul class="govuk-list govuk-list--bullet">
            <a class="govuk-link govuk-link--no-visited-state"		href="#"> <li >Read more about appealing an immigration or asylum decision </li></a>
            <a class="govuk-link govuk-link--no-visited-state"	 href="#"><li >Find organisations that can you with your appeal</li></a>
        </ul>
     </div>
    {{ govukButton({
        text: "See your appeal progress",
        href: "#"
    }) }}
    {{ contactUs() }}
{% endblock %}
