{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set serviceName = i18n.serviceName %}
{% set serviceUrl = i18n.serviceUrl %}



{% block pageTitle %}
  {% if error or errors %}{{ i18n.errorTitlePrefix }} {% endif %}{{ pageTitleName }} - {{ i18n.serviceName }} - {{ i18n.provider }}
{% endblock %}

{% block head %}
  <link href="/main.css" rel="stylesheet" type="text/css"/>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159574540-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-159574540-1');
  </script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-W4WSRN2');</script>
  <!-- End Google Tag Manager -->
{% endblock %}

{% block header %}
{% endblock%}


{% block footer %}
{% endblock%}


{% macro navigation() %}
  <ul class="govuk-list">
    <li>
      <a href="{{ paths.common.whatIsIt | safe }}" class="govuk-link govuk-link--no-visited-state whatIsIt">{{ i18n.pages.onlineSupportPages.links.whatIsThisService | safe }}</a>
    </li>
    <li>
      <a href="{{ paths.common.gettingStarted | safe }}" class="govuk-link govuk-link--no-visited-state gettingStarted">{{ i18n.pages.onlineSupportPages.links.gettingStarted | safe }}</a>
    </li>
    <li>
      <a href="{{ paths.common.fourStages | safe }}" class="govuk-link govuk-link--no-visited-state fourStages">{{ i18n.pages.onlineSupportPages.links.fourStages | safe }}</a>
    </li>
    <li>
      <a href="{{ paths.common.notifications | safe }}" class="govuk-link govuk-link--no-visited-state notifications">{{ i18n.pages.onlineSupportPages.links.notifications | safe }}</a>
    </li>
    <li>
      <a href="{{ paths.common.documents | safe }}" class="govuk-link govuk-link--no-visited-state documents">{{ i18n.pages.onlineSupportPages.links.documents | safe }}</a>
    </li>
    <li>
      <a href="{{ paths.common.offlineProcesses | safe }}" class="govuk-link govuk-link--no-visited-state offlineProcesses ">{{ i18n.pages.onlineSupportPages.links.offlineProcesses | safe }}</a>
    </li>
    <li>
      <a href="{{ paths.common.guidance | safe }}" class="govuk-link govuk-link--no-visited-state guidance ">{{ i18n.pages.onlineSupportPages.links.guidance | safe }}</a>
    </li>
    <li>
      <a href="{{ paths.common.howToHelp | safe }}" class="govuk-link govuk-link--no-visited-state howToHelp">{{ i18n.pages.onlineSupportPages.links.howToHelp | safe }}</a>
    </li>
    <li>
      <a href="{{ paths.common.giveFeedback | safe }}" class="govuk-link govuk-link--no-visited-state giveFeedback ">{{ i18n.pages.onlineSupportPages.links.howToGiveFeedback | safe }}</a>
    </li>
  </ul>
{% endmacro %}

{% macro backForward(back,forward) %}
  <div style="display: inline-block">
    <a class="govuk-link govuk-link--no-visited-state"  href={{ back }}>< Previous page</a>
    <a class="govuk-link govuk-link--no-visited-state floater" style="  margin-left:300px; margin-right:0" href={{ forward }}> Next page ></a>
  </div>
{% endmacro %}

