{% set pageTitleName = i18n.pages.index.title %}
{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-m testing-class">Hello World!</h1>
  <p>{{ data }}</p>

  {{ govukButton({
    text: "Save and continue"
  }) }}

{% endblock %}
