{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% set serviceName = i18n.serviceName %}
{% set serviceUrl = i18n.serviceUrl %}

{% macro errorSummary(errors) %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      errorList: errors.errorList
    }) }}
  {% endif %}
{% endmacro %}

{% macro saveButtons() %}

  <div class="buttons__container">
    {{ govukButton({
      name: 'saveAndContinue',
      text: i18n.common.buttons.saveAndContinue,
      classes: "govuk-!-margin-right-1"
    }) }}

    {{ govukButton({
      text: i18n.common.buttons.saveForLater,
      name: "saveForLater",
      value: "saveForLater",
      classes: "govuk-button--secondary"
    }) }}
  </div>
{% endmacro %}

{% macro input(label, id, value='') %}
  {{ govukInput({
    label: {
      text: label
    },
    id: id,
    name: id,
    classes: "govuk-input--width-20",
    value: value,
    errorMessage: errors.fieldErrors[id]
  }) }}
{% endmacro %}

{% macro contactUs() %}
  {{ govukDetails({
    summaryText: i18n.components.contactUs.heading,
    html: i18n.components.contactUs.content
  }) }}
{% endmacro %}

{% macro contactUsErrorLink() %}
  {{ i18n.components.contactUsErrorLink.link | safe }}
{% endmacro %}

{% block head %}
  <link href="/main.css" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}
  {% if error or errors %}{{ i18n.errorTitlePrefix }} {% endif %}{{ pageTitleName }} - {{ i18n.serviceName }} - {{ i18n.provider }}
{% endblock %}

{% block header %}
  <div id="cookie-banner">
    <p class="govuk-width-container">{{ i18n.cookieBanner.content | safe }}</p>
  </div>
  {% if not hideSignOut %}
    {{ govukHeader({
      homepageUrl: "#",
      serviceName:  serviceName,
      serviceUrl: serviceUrl,
      containerClasses: "govuk-width-container",
      navigationClasses: "sign-out",
      navigation: [
        {
          href: "/logout",
          text: i18n.components.header.signOut,
          active: true
        }
      ]
    }) }}
  {% else %}
    {{ govukHeader({
      homepageUrl: "#",
      containerClasses: "govuk-width-container",
      serviceName: serviceName,
      serviceUrl: serviceUrl
    }) }}
  {% endif %}

{% endblock %}

{% block beforeContent %}
  {% if previousPage %}
    {{ govukBackLink({
      text: i18n.components.back.back,
      href: previousPage
    }) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/all.js"></script>

{% endblock %}


{% macro radioButtons(legendText, hintText) %}
  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "changed-name",
    name: "value",
    fieldset: {
      legend: {
        text: legendText,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: hintText
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}
{%  endmacro %}

{% macro continueButton() %}
  {{ govukButton({
    text: "Continue"
  }) }}
{% endmacro %}
