{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "components/header.njk" import header with context %}
{% from "components/timeout-modal.njk" import timeoutModal with context %}

{% set serviceName = i18n.serviceName %}
{% set serviceUrl = i18n.serviceUrl %}

{% macro errorSummary(errors) %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      errorList: errors.errorList
    }) }}
  {% endif %}
{% endmacro %}

{% macro saveButtons(button1, button2) %}
  <div class="save-buttons__container">
    {{ govukButton({
      name: button1.name if button1.name else 'saveAndContinue',
      text: button1.text if button1.text else i18n.common.buttons.saveAndContinue,
      classes: "govuk-!-margin-right-1"
    }) }}

    {{ govukButton({
      text: button2.text if button2.text else i18n.common.buttons.saveForLater,
      name: button2.name if button2.name else "saveForLater",
      value: "saveForLater",
      classes: "govuk-button--secondary"
    }) }}
  </div>
{% endmacro %}

{% macro input(label, id, value='') %}
  {{ govukInput({
    label: {
      text: label
    },
    id: id,
    name: id,
    classes: "govuk-input--width-20",
    value: value,
    errorMessage: errors.fieldErrors[id]
  }) }}
{% endmacro %}

{% macro contactUs() %}
  {{ govukDetails({
    summaryText: i18n.components.contactUs.heading,
    html: i18n.components.contactUs.content
  }) }}
{% endmacro %}

{% macro contactUsErrorPages() %}
  <p class="govuk-body govuk-!-margin-top-6"><b>{{ i18n.components.contactUs.heading }}</b></p>
  <p class="govuk-body">{{ i18n.components.contactUsErrorPages.telephone }}</p>
  <p class="govuk-body">
    {{ i18n.components.contactUsErrorPages.linesOpeningTimes }} <br>
    {{ i18n.components.contactUsErrorPages.callCharges |safe }}</p>
{% endmacro %}

{% macro radioButtons(legendText, hintText, errorMessage, answer) %}
  {{ govukRadios({
    classes: "govuk-radios--inline",
    name: "answer",
    fieldset: {
      legend: {
        text: legendText,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: hintText
    },
    errorMessage: {
      text: errorMessage
    } if (errorMessage),
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ],
    value: answer
  }) }}
{% endmacro %}

{% macro continueButton() %}
  {{ govukButton({
    text: "Continue"
  }) }}
{% endmacro %}

{% macro saveAndContinueButton() %}
  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endmacro %}


{% block pageTitle %}
  {% if error or errors %}{{ i18n.errorTitlePrefix }} {% endif %}{{ pageTitleName }} - {{ i18n.serviceName }} - {{ i18n.provider }}
{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
{% endblock %}

{% block head %}
  <link href="/main.css" rel="stylesheet" type="text/css"/>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159574540-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-159574540-1');
  </script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-W4WSRN2');</script>
  <!-- End Google Tag Manager -->
{% endblock %}

{% block bodyStart %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4WSRN2"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block header %}
  <div id="cookie-banner">
    <div  class="govuk-width-container">
      <p>{{ i18n.cookieBanner.content | safe }}</p>
    </div>
  </div>
  {{ header() }}
{% endblock %}

{% block beforeContent %}
  {% set feedbackLink = [
      "<a href=",
      i18n.phaseBanner.feedbackSurveyLik.href,
      " target='_blank' rel='noopener noreferrer'>",
      i18n.phaseBanner.feedbackSurveyLik.text,
      "</a>"
    ] | join() %}

  {{ timeoutModal() }}
  {{ govukPhaseBanner({
    tag: {
      text: i18n.phaseBanner.version
    },
    html: i18n.phaseBanner.text[0] + feedbackLink + i18n.phaseBanner.text[1] | safe
  }) }}
  {% if previousPage %}
    {{ govukBackLink({
      text: i18n.components.back.back,
      href: previousPage if not previousPage.attributes,
      attributes: previousPage.attributes if previousPage.attributes
    }) }}
  {% endif %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: i18n.components.footer.items.contactUs.href,
          text: i18n.components.footer.items.contactUs.text
        },
        {
          href: paths.common.cookies,
          text: i18n.components.footer.items.cookies.text
        },
        {
          href: paths.common.termsAndConditions,
          text: i18n.components.footer.items.termsAndConditions.text
        },
        {
          href: paths.common.privacyPolicy,
          text: i18n.components.footer.items.privacyPolicy.text
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/all.js"></script>
{% endblock %}
