{% set pageTitleName = i18n.pages.index.title %}
{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% import "components/text-components.njk" as text %}
{% from "components/progress-bar.njk" import progressBar with context %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ i18n.pages.start.header }}</h1>

  <p class="govuk-body"> {{ i18n.pages.eligibleStartPage.newService }}</p>
  <p class="govuk-body"> {{ i18n.pages.eligibleStartPage.askQuestions }}</p>
  {{ govukButton({
    text: i18n.pages.start.startText,
    href: "/eligibility",
    isStartButton: true
  }) }}
 <h2  class='govuk-heading-s'>  {{ i18n.pages.eligibleStartPage.alreadyStarted }} </h2>

  <a id="continue" href='/login' class="govuk-link"> {{ i18n.pages.eligibleStartPage.signIn }} </a>

{% endblock %}
