{% set pageTitleName = i18n.pages.index.title %}
{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
    {% if variable %}
        {{ govukErrorSummary({
            "titleText": "There is a problem",
            "errorList": [
                {
                    "text": errors,
                    "href": "#"
                }
            ]
        }) }}
    {% endif  %}
    <h1 class="govuk-heading-m testing-class">Hello World! From second page</h1>
    <p>{{ data }}</p>
    <p id="firstName">{{ firstName }}</p>
    <p id="secondName">{{ mobileNumber }}</p>
    {{ govukButton({
        text: "Save and continue"
    }) }}

{% endblock %}
