{% set pageTitleName = i18n.pages.appealType.header %}
{% extends "layout.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% import "helpers/text-helpers.njk" as text %}
{% import "components/button-components.njk" as button %}

{% block content %}

    {% if error %}
        {{ govukErrorSummary({
            titleText: i18n.errorSummary.titleText,
            errorList: [{
                text: error,
                href: "#appealType"
            }]
        }) }}
    {% endif %}

    {% set options = [] %}
    {% for item in appealTypes %}
        {% set examples =
            govukDetails({
            summaryText: i18n.pages.appealType.exampleSummaryText,
            html: text.bold(  item.example.name ) + " " + text.parentheses(item.example.description)
        }) %}

        {% set options = (options.push(
            {
                value: item.id,
                html: text.bold( item.name ) + " " + text.parentheses(item.description),
                hint: { html: examples }
            }), options) %}
    {% endfor %}

    <form action="/type-of-appeal" method="post">
        {{ govukCheckboxes({
            idPrefix: "appealType",
            id: "appealType",
            name: "data",
            fieldset: {
                legend: {
                    text:  i18n.pages.appealType.header,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                }
            },
            hint: {
                html:  text.addMultipleHintsText(i18n.pages.appealType.pageHint)
            },
            errorMessage: {
                text: i18n.validationErrors.atLeastOneOption
            } if error,
            items: options
        }) }}

        <div class="buttons__container">
            {{ button.saveButtons(i18n.common.buttons.saveAndContinue, i18n.common.buttons.saveForLater) }}
        </div>
    </form>

    {{ contactUs() }}

{% endblock %}
