{% set pageTitleName = pageTitle if pageTitle else i18n.pages.checkYourAnswers.header %}
{% extends "layout.njk" %}
{% from "components/summary-list.njk" import govukSummaryList %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.validationErrors.errorSummary,
      errorList: errorList
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl">{{ pageTitleName }}</h1>

  {% if summarySections %}
    {% for summarySection in summarySections %}
      <h2 class="govuk-heading-l">{{ summarySection.title }}</h2>
      {% for summaryList in summarySection.summaryLists %}
        {% if summaryList.title %}
          <h3 class="govuk-heading-m govuk-!-margin-top-8">{{ summaryList.title }}</h3>
        {% endif %}
        {{ govukSummaryList({
          rows: summaryList.summaryRows
        }) }}
      {% endfor %}
    {% endfor %}
  {% endif %}

  {% if summaryLists %}
    {% for summaryList in summaryLists %}
      {% if summaryList.title %}
        <h2 class="govuk-heading-l">{{ summaryList.title }}</h2>
      {% endif %}
      {{ govukSummaryList({
        rows: summaryList.summaryRows
      }) }}
    {% endfor %}
  {% endif %}

  {% if summaryRows %}
    {{ govukSummaryList({
      rows: summaryRows
    }) }}
  {% endif %}

  {% if formAction %}
    <form method="post" action="{{ formAction }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {% if hasNlr %}
          {{ nlrStatement() }}
      {% endif %}
      {% if noSaveForLater %}
        {{ saveButton({name: 'send', text: 'Send'}) }}
      {% else %}
        {{ saveButtons({name: 'send', text: 'Send'}) }}
      {% endif %}
    </form>
  {% elif continuePath %}
    <form method="post" action="{{ continuePath }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {% if hasNlr %}
          {{ nlrStatement() }}
      {% endif %}
      {{ govukButton({
        text: i18n.common.buttons.confirmAndSend
      }) }}
      <a class="cancel-button" href="{{ cancelPath if cancelPath else previousPage }}">{{ i18n.common.buttons.cancel }}</a>
    </form>
  {% endif %}

  {{ contactUs() }}
{% endblock %}
