{% set pageTitleName = pageTitle %}
{% extends "layout.njk" %}
{% from "components/summary-list.njk" import govukSummaryList %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.validationErrors.errorSummary,
      errorList: errorList
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

  {% for summaryList in summaryLists %}
    {% if summaryList.title %}
      <h2 class="govuk-heading-l">{{ summaryList.title }}</h2>
    {% endif %}
    {{ govukSummaryList({
      rows: summaryList.summaryRows
    }) }}
  {% endfor %}

  {% if formAction %}
    <form method="post" action="{{ formAction }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {{ saveButtons({name: 'send', text: 'Send'}) }}
    </form>
  {% endif %}
  {{ contactUs() }}
{% endblock %}
