{% extends "layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% set pageTitleName = title %}

{% block content %}
  {{ govukPanel({
    titleText: title,
    classes: mainClasses
  }) }}
  <h2 class="govuk-heading-m">{{ i18n.pages.successPage.whatHappensNext }}</h2>
  <div>
  {% if whatNextContent %}
    {% for item in whatNextContent %}
      <p>{{ item | eval | safe }}</p>
    {% endfor %}
  {% endif %}
  {% if whatNextListItems %}
    <ul class="govuk-list govuk-list--bullet">
      {% for item in whatNextListItems %}
        <li>{{ item | eval | safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if info %}
    <div class="panel-background">
      <p><span class='govuk-!-font-weight-bold'>{{ info.title }}</span></p>
      <ul class="govuk-list govuk-list--bullet">
      <li>{{ info.url | eval | safe }}</li>
      </ul>
    </div>
  {% endif %}
  {% if thingsYouCanDoAfterPaying %}
    <div class="panel-background">
      <h2 class="govuk-heading-s govuk-!-padding-top-4">{{ i18n.pages.confirmationPaid.thingsYouCanDoAfterPaying.thingsYouCanDo | safe }}</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/immigration-asylum-tribunal"> {{ i18n.pages.confirmationPaid.thingsYouCanDoAfterPaying.readMore | safe }}</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="{{ paths.common.moreHelp }}">{{ i18n.pages.confirmationPaid.thingsYouCanDoAfterPaying.findOutMore | safe }}</a></li>
      </ul>
    </div>
  {% endif %}
  {{ govukButton({
    text: i18n.pages.successPage.seeProgress,
    href: paths.common.overview
  }) }}
  {{ contactUs() }}
{% endblock %}
