{% extends "layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% set pageTitleName = title %}

{% block content %}
  {{ govukPanel({
    titleText: title,
    classes: mainClasses
  }) }}
  <h2 class="govuk-heading-m">{{ i18n.pages.successPage.whatHappensNext }}</h2>
  <div>
  <ul class="govuk-list govuk-list--bullet">
    {% for item in whatNextListItems %}
      <li>{{ item | eval | safe }}</li>
    {% endfor %}
  </ul>
  {% if info %}
    <div class="panel-background">
      <p><span class='govuk-!-font-weight-bold'>{{ info.title }}</span></p>
      <p>{{ info.url | eval | safe }}</p>
    </div>
  {% endif %}
  {{ govukButton({
    text: i18n.pages.successPage.seeProgress,
    href: paths.common.overview
  }) }}
  {{ contactUs() }}
{% endblock %}
