{% extends '../layout.njk' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitleName = title %}

{% block content %}
    <h1>{{ title  }}</h1>
    <h2>{{ aboutTheAppealTitle  }}</h2>
    {{ govukSummaryList({
        rows: data.aboutAppealRows
    }) }}
    <h2>{{ personalDetailsTitle  }}</h2>
    {{ govukSummaryList({
        rows: data.personalDetailsRows
    }) }}
    {% if data.feeDetailsRows | length %}
        <h2>{{ feeDetailsTitle  }}</h2>
        {{ govukSummaryList({
            rows: data.feeDetailsRows
        }) }}
    {% endif %}

    {% if data.feeHistoryRows | length %}
        {% for feeHistoryRow in data.feeHistoryRows %}
            <div class="govuk-summary-history">
                <div class ="govuk-summary-history-header">
                    <div class="govuk-summary-list__key">Fee remission application {{data.feeHistoryRows.length + 1 -
                    loop
                    .index}}</div>
                </div>
                <div class="govuk-summary-history-body">
                      {{ govukSummaryList({
                        rows: feeHistoryRow
                      }) }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
  {{ contactUs() }}
{% endblock %}
