{% extends '../layout.njk' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitleName = title %}

{% block content %}
    <h1>{{ title }}</h1>
    {% if subtitle1 %}
        <h2>{{ subtitle1 }}</h2>
    {% endif %}
    {{ govukSummaryList({
        rows: data1
    }) }}
    {% if subtitle2 %}
        <h2>{{ subtitle2 }}</h2>
    {% endif %}
    {% if data2 %}
        {{ govukSummaryList({
            rows: data2
        }) }}
    {% endif %}
    {% if subtitle3 %}
        <h2>{{ subtitle3 }}</h2>
    {% endif %}
    {% if data3 %}
        {{ govukSummaryList({
            rows: data3
        }) }}
    {% endif %}
    {% if subtitle4 %}
        <h2>{{ subtitle4 }}</h2>
    {% endif %}
    {% if data4 %}
        {{ govukSummaryList({
            rows: data4
        }) }}
    {% endif %}
  {{ contactUs() }}
{% endblock %}
