{% extends '../layout.njk' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitleName = title %}

{% block content %}
    <h1>{{ title  }}</h1>
    {% if description %}
        <p>{{ description }}</p>
    {% endif %}
    {{ govukSummaryList({
        rows: data
    }) }}
  {{ contactUs() }}
{% endblock %}
