{% set pageTitleName = title %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "components/evidence-list.njk" import evidenceList with context %}

{% extends "layout.njk" %}

{% block content %}
  {% if errorList %}
    {% set evalErrorList = [] %}
    {% for error in errorList %}
      {% set evalError = {
        key: error.kye,
        text: error.text | eval,
        href: error.href
      } %}
      {% set evalErrorList = (evalErrorList.push(evalError), evalErrorList) %}
    {% endfor %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      descriptionText: i18n.error.summary.descriptionText,
      errorList: evalErrorList
    }) }}
  {% endif %}

  <form action="{{ formSubmitAction }}" method="post">
    {% call govukFieldset({
      legend: {
        text: title,
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      {% if content %}
        {% for item in content %}
          <h2 class="govuk-heading-m">{{item.title}}</h2>
          <p>{{item.description}}</p>
        {% endfor %}
      {% endif %}


      {% if moreInfo %}
        <p>{{ moreInfo | safe }} </p>
      {% endif %}

      <div class="govuk-inset-text">
        {{ govukFileUpload({
          id: "file-upload",
          name: "file-upload",
          label: {
            html: i18n.pages.reasonsForAppealUpload.uploadFile | safe
          },
          errorMessage: {
            text: errorList[0].text | eval
          } if (errorList)
        }) }}

        {{ govukButton({
          text: i18n.common.buttons.uploadFile,
          name: 'uploadFile',
          classes: "govuk-button--secondary",
          attributes: {
            formEnctype: 'multipart/form-data',
            formaction: evidenceUploadAction + '?_csrf=' + csrfToken
          }
        }) }}
      </div>
      {{ evidenceList(evidences, evidenceCTA) }}
      {% if askForMoreTimeFeatureEnabled %}
        {% include "components/ask-for-more-time-panel.njk" %}
      {% endif %}
      {% if continueCancelButtons %} 
        {{ continueToUrlButton(redirectTo) }}
        {{ canelButton() }}
        {% else %}
        {{ saveButtons() }}
      {% endif %}
    {% endcall %}
  </form>
  {{ contactUs() }}

{% endblock %}
