{% set pageTitleName = pageTitle %}
{% from "components/radio-button-question.njk" import radioButtonQuestion %}

{% extends "layout.njk" %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      descriptionText: i18n.error.summary.descriptionText,
      errorList: errorList
    }) }}
  {% endif %}
  <form action="{{ formAction }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ radioButtonQuestion(
      question.name or 'answer',
      question.options,
      question.title,
      question.titleIsheading or true,
      question.hint | safe,
      error[question.name].text,
      question.inline
    ) }}

    {% if saveAndContinueOnly %}
      {{ saveAndContinueButton() }}
    {% else %}
      {% if saveAndContinue %}
        {{ saveButtons() }}
      {% else %}
        {{ continueButton() }}
      {% endif %}
    {% endif %}

  </form>
  {{ contactUs() }}
{% endblock %}
