{% extends '../layout.njk' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitleName = title %}

{% block content %}
    <h1>{{ title  }}</h1>
    {% if description %}
        <p>{{ description }}</p>
    {% endif %}
    {% if updatedDecisions %}
    {% for updatedDecision in updatedDecisions %}
      {% if updatedDecision.title %}
        <h2 class="govuk-heading-m govuk-!-margin-top-8">{{ updatedDecision.title }}</h2>
      {% endif %}
      {{ govukSummaryList({
              rows: updatedDecision.summaryRows
          }) }}
     {% endfor %}
    {% endif %}

    <h2 class="govuk-heading-m govuk-!-margin-top-8">{{ originalSubTitle }}</h2>
    {{ govukSummaryList({
        rows: data.decision
    }) }}
  {{ contactUs() }}
{% endblock %}
