{% set pageTitleName = i18n.error.error404.title %}
{% extends "layout.njk" %}
{% set pageHeader = i18n.error.error404.header %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ i18n.error.error404.header }}</h1>
      <p class="govuk-body">
        {{ i18n.error.error404.checkAddress }}
      </p>
      <p class="govuk-body">
        {{ i18n.error.error404.orText }} <a class='govuk-link', href='{{ paths.common.start }}'>{{ i18n.error.error404.goBackToStart }}</a>
      </p>
      <p class="govuk-body govuk-!-margin-top-9">
        {{ contactUs() }}
      </p>
    </div>
  </div>
{% endblock %}
