{% set pageTitleName = i18n.error.error500.title %}
{% extends "layout.njk" %}
{% set pageHeader = i18n.error.error500.header %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ i18n.error.error500.header }}</h1>
      <p class="govuk-body">{{ i18n.error.error500.tryAgain }}</p>
     {{ contactUsErrorPages() }}
    </div>
  </div>
{% endblock %}
