{% set pageTitleName = i18n.pages.checkYourAnswers.title %}
{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList with context %}
{% import "components/text-components.njk" as text with context %}


{% block content %}

  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.validationErrors.errorSummary,
      errorList: errorList
    }) }}
  {% endif %}

  {% if payNow %}
    {% set buttonCopy = i18n.common.buttons.payNow  %}
  {% elif appealPaid %}
    {% set buttonCopy = i18n.common.buttons.submitYourAppeal  %}
  {% else %}
    {% set buttonCopy = i18n.common.buttons.send  %}
  {% endif %}

  <h1 class="govuk-heading-xl">{{ i18n.pages.checkYourAnswers.header }}</h1>

  {{ govukSummaryList({
    rows: summaryRows
  }) }}

  <form action="{{ paths.appealStarted.checkAndSend }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukCheckboxes({
      idPrefix: "statement",
      name: "statement",
      fieldset: {
        legend: {
          text: i18n.pages.checkYourAnswers.statement ,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "acceptance",
          text: i18n.pages.checkYourAnswers.agreement
        }
      ],
      errorMessage: {
        text: i18n.validationErrors.acceptanceStatement
      } if error['statement']
    }) }}
    {{ govukButton({
      text: buttonCopy | eval,
      preventDoubleClick: true
    }) }}
  </form>

  {{ contactUs() }}

{% endblock %}
