{% set pageTitleName = i18n.pages.gwfReference.title %}
{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.validationErrors.errorSummary,
      errorList: errorList
    }) }}
  {% endif %}
  <form action="{{ paths.appealStarted.gwfReference }}" method="post">
    {% call govukFieldset({
      legend: {
        text: i18n.pages.gwfReference.title,
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}
      <p>{{ i18n.pages.gwfReference.label }}</p>
      <p>{{ i18n.pages.gwfReference.description }}</p>

      <p>{{ i18n.pages.gwfReference.footNote | safe  }}</p>

      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      
      {{ govukInput({
        label: {
          text: i18n.pages.gwfReference.homeOfficeReferenceNumberLabel
        },
        classes: "govuk-input--width-20",
        id: "gwfReferenceNumber",
        name: "gwfReferenceNumber",
        value: gwfReferenceNumber,
        errorMessage: {
          text:  errors['gwfReferenceNumber'].text
        } if errors['gwfReferenceNumber']
      }) }}

      {{ saveButtons() }}
    {% endcall %}
  </form>
  {{ contactUs() }}
{% endblock %}
