{% extends '../../layout.njk' %}
{% set pageTitleName = i18n.pages.enterPostcode.title %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      descriptionText: i18n.error.summary.descriptionText,
      errorList: errorList
    }) }}
  {% endif %}

  <form action="/personal-details/enter-postcode" method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% call govukFieldset({
      legend: {
        text: i18n.pages.enterPostcode.heading,
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}
      {{ govukInput({
        label: {
          text: i18n.pages.enterPostcode.hint
        },
        classes: "govuk-input--width-10",
        id: "postcode",
        name: "postcode",
        value: postcode,
        errorMessage: {
          text:  error['postcode'].text
        } if error['postcode']
      }) }}
      <div class="govuk-form-group">
        <a href="/personal-details/enter-address">{{ i18n.pages.enterPostcode.manualAddressLink }}</a>
      </div>
      <div class="buttons__container">
          {{ govukButton({
              text: i18n.pages.enterPostcode.findAddress,
              name: "findAddress",
              value: "submit",
              classes: "govuk-!-margin-right-1"
          }) }}

          {{ govukButton({
              text: i18n.common.buttons.saveForLater,
              id: "saveForLater",
              href: '/overview?saved',
              classes: "govuk-button--secondary"
          }) }}
      </div>
    {% endcall %}
  </form>

  {{ contactUs() }}
{% endblock %}

