{% set pageTitleName = i18n.pages.name.title %}
{% extends "layout.njk" %}
{% set pageTitleName = i18n.pages.name.title %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      errorList: errorList
    }) }}
  {% endif %}
  <h1 class="govuk-heading-l">{{ i18n.pages.name.title }}</h1>

  <form method="post" action="{{ paths.appealStarted.name }}" type="submit">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukInput({
      label: {
        text: i18n.pages.name.givenNames
      },
      classes: "govuk-input--width-20",
      id: "givenNames",
      name: "givenNames",
      value: personalDetails.givenNames,
      errorMessage: {
        text: error["givenNames"].text
      } if error["givenNames"]
    }) }}

    {{ govukInput({
      label: {
        text: i18n.pages.name.familyName
      },
      classes: "govuk-input--width-20",
      id: "familyName",
      name: "familyName",
      value: personalDetails.familyName,
      errorMessage: {
        text: error["familyName"].text
      } if error["familyName"]
    }) }}

    {{ saveButtons() }}
  </form>
  {{ contactUs() }}
{% endblock %}
