{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitleName = i18n.pages.nationality.title %}
{% extends "layout.njk" %}

{% set stateless = 'stateless' %}
{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      errorList: errorList
    }) }}
  {% endif %}
  <form method="post" action="{{ paths.appealStarted.nationality }}">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {{ govukSelect({
        id: "nationality",
        name: "nationality",
        items: nationalitiesOptions,
        label: {
          text: i18n.pages.nationality.title,
          classes: "govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-3",
          isPageHeading: true
        },
        attributes: {
          'aria-label': i18n.pages.nationality.title
        },
        errorMessage: {
          text: errors["nationality-statelessNationality"].text
        } if errors["nationality-statelessNationality"]
      }) }}

    {{ saveButtons() }}
  </form>
  {{ contactUs() }}
{% endblock %}
