{% extends '../../layout.njk' %}
{% set pageTitleName = i18n.pages.postcodeLookup.title %}
{% from "govuk/components/select/macro.njk" import govukSelect %}]

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      descriptionText: i18n.error.summary.descriptionText,
      errorList: errorList
    }) }}
  {% endif %}
  <h1 class="govuk-fieldset__legend--xl">{{ i18n.pages.postcodeLookup.heading }}</h1>
  <form method="post" action="/personal-details/postcode-lookup">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <p class="govuk-body-l">{{ i18n.pages.postcodeLookup.title }}</p>
    <span><b>{{ postcode }}</b> &emsp;
      <a class="govuk-link app-contact-panel__link"
         href="/personal-details/enter-postcode">Change</a></span>
    </br>
    </br>
    {{ govukSelect({
      id: "address",
      name: "address",
      label: {
        text:  i18n.pages.postcodeLookup.select
      },
      items: addresses,
      errorMessage: {
        text:  error['address'].text
      } if error['address']
    }) }}
    <a class="govuk-link app-contact-panel__link"
       href="/personal-details/enter-address">{{ i18n.pages.postcodeLookup.cantFind }}</a>
    </br>
    </br>
    <div class="buttons__container">
      {{ govukButton({
        text: i18n.common.buttons.saveAndContinue,
        name: "buttton",
        value: "submit",
        classes: "govuk-!-margin-right-1"
      }) }}

      {{ govukButton({
        text: i18n.common.buttons.saveForLater,
        href: '/task-list',
        classes: "govuk-button--secondary"
      }) }}
    </div>
    {{ contactUs() }}
  </form>
{% endblock %}
