{% set pageTitleName = i18n.pages.needInterpreterPage.pageTitle | eval %}
{% extends "layout.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block content %}
    {% if errorList %}
    {{ govukErrorSummary({
        titleText: i18n.validationErrors.errorSummary,
        errorList: errorList
    }) }}
    {% endif %}
<form action="{{ paths.awaitingCmaRequirements.needInterpreter }}?_csrf={{ csrfToken }}" method="post">
    {{ govukRadios({
        idPrefix: "answer",
        id: "answer",
        name: "answer",
        fieldset: {
            legend: {
                text:   i18n.pages.needInterpreterPage.title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
            }
        },
        hint: {
            html:  i18n.pages.needInterpreterPage.hint
        },
        errorMessage: {
            text: errors['answer'].text
        } if errorList,
        items: list
    }) }}

        {{ saveButtons() }}
</form>
    {{ contactUs() }}
{% endblock %}
