{% set pageTitleName = i18n.pages.stepFreeAccessPage.pageTitle | eval %}
{% extends "layout.njk" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    {% set options = [] %}
    {% if errorList %}
        {{ govukErrorSummary({
            titleText: i18n.validationErrors.errorSummary,
            errorList: errorList
        }) }}
    {% endif %}


    {% for item in list %}
        {% set options = (options.push(
            {
                value: item.value,
                text: item.text,
                checked: item.checked
            }), options) %}
    {% endfor %}

    {% call govukFieldset({
        legend: {
            text: i18n.pages.stepFreeAccessPage.title,
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
        }
    }) %}
<form action="{{ paths.awaitingCmaRequirements.stepFreeAccess }}?_csrf={{ csrfToken }}" method="post" enctype="multipart/form-data" >
    {{ govukRadios({
        idPrefix: "answer",
        id: "answer",
        name: "answer",
        fieldset: {
            legend: {
                text:  '',
                isPageHeading: false,
                classes: "govuk-fieldset__legend--xl"
            }
        },
        hint: {
            html:  i18n.pages.stepFreeAccessPage.text

        },
        errorMessage: {
            text: errors['answer'].text
        } if errorList,
        items: options
    }) }}
        {{ saveButtons() }}
</form>
    {% endcall %}
    {{ contactUs() }}
{% endblock %}

