{% extends 'guidanceLayout.njk' %}
{% set pageTitleName = i18n.pages.onlineSupportPages.gettingStartedPage.pageTitle %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="gettingStarted">
            <img src="/assets/images/banner.png" alt="banner">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-m">{{ i18n.common.contents | safe }}</h3>
                        {{ navigation() }}
                </div>

                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l">{{ i18n.pages.onlineSupportPages.gettingStartedPage.gettingStartedTitle | safe }}</h2>
                    <h2 class="govuk-heading-s">{{ i18n.pages.onlineSupportPages.gettingStartedPage.linkToServiceTitle | safe }}</h2>
                    <p class="govuk-body">{{ i18n.pages.onlineSupportPages.gettingStartedPage.accessText | safe }}</p>
                    <a class="govuk-link" href="{{ i18n.pages.onlineSupportPages.gettingStartedPage.link | safe }}">{{ i18n.pages.onlineSupportPages.gettingStartedPage.link | safe }}</a>
                    <h2 class="govuk-heading-s">{{ i18n.pages.onlineSupportPages.gettingStartedPage.eligibility | safe }}</h2>
                    <p class="govuk-body">{{ i18n.pages.onlineSupportPages.gettingStartedPage.eligibilityText | safe }}</p>
                    <ul class="govuk-list govuk-list--bullet">
                        {% for text in i18n.pages.onlineSupportPages.gettingStartedPage.eligibilityBullets %}
                            <li class="govuk-body">{{ text | safe }}</li>
                        {% endfor %}
                    </ul>
                    <h2 class="govuk-heading-s">{{ i18n.pages.onlineSupportPages.gettingStartedPage.statelessTitle | safe }}</h2>
                    <p class="govuk-body">{{ i18n.pages.onlineSupportPages.gettingStartedPage.statelessText | safe }}</p>
                    <h2 class="govuk-heading-s">{{ i18n.pages.onlineSupportPages.gettingStartedPage.creatingAccountTitle | safe }}</h2>
                    <p class="govuk-body">{{ i18n.pages.onlineSupportPages.gettingStartedPage.creatingAccountText | safe }}</p>
                    <img src="/assets/images/sign-in.png" alt="sign-in">
                    <h2 class="govuk-heading-s">{{ i18n.pages.onlineSupportPages.gettingStartedPage.feesTitle | safe }}</h2>
                    <p class="govuk-body">{{ i18n.pages.onlineSupportPages.gettingStartedPage.feesText | safe }}</p>
                    <p class="govuk-body">{{ i18n.pages.onlineSupportPages.gettingStartedPage.feesTextTwo | safe }}</p>
                    <p class="govuk-body">{{ i18n.pages.onlineSupportPages.gettingStartedPage.feesTextThree | safe }}</p>
                    <p class="govuk-body">{{ i18n.pages.onlineSupportPages.gettingStartedPage.feesTextFour | safe }}</p>
                    <h2 class="govuk-heading-s">{{ i18n.pages.onlineSupportPages.gettingStartedPage.sessionTimeoutTitle | safe }}</h2>
                    <p class="govuk-body">{{ i18n.pages.onlineSupportPages.gettingStartedPage.sessionTimeoutText | safe }}</p>
                    <p class="govuk-body">{{ i18n.pages.onlineSupportPages.gettingStartedPage.sessionTimeoutTextTwo | safe }}</p>
                    <img src="/assets/images/session-timeout.png" alt="session-timeout">
                    {{  backForward(paths.common.whatIsIt,paths.common.fourStages) | safe }}

                </div>
            </div>
            </div>
        </main>
    </div>
{% endblock %}
