{% extends 'guidanceLayout.njk' %}
{% set pageTitleName = i18n.pages.onlineSupportPages.whatIsThisServicePage.pageTitle %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="whatIsIt">
            <img src="/assets/images/banner.png" alt="banner">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-m">{{ i18n.common.contents }}</h3>
                    {{ navigation() }}
                </div>

                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l">{{ i18n.pages.onlineSupportPages.whatIsThisServicePage.whatIsTheService }}</h2>
                    <h2 class="govuk-heading-s">{{ i18n.pages.onlineSupportPages.whatIsThisServicePage.whatIsIt }}</h2>
                    <p class="govuk-body">{{ i18n.pages.onlineSupportPages.whatIsThisServicePage.newService }}</p>
                    <h2 class="govuk-heading-s">{{ i18n.pages.onlineSupportPages.whatIsThisServicePage.pilotServiceTitle }}</h2>
                    <p class="govuk-body">{{ i18n.pages.onlineSupportPages.whatIsThisServicePage.pilotServiceText }}</p>
                    <h2 class="govuk-heading-s">{{ i18n.pages.onlineSupportPages.whatIsThisServicePage.whoIsItForTitle }}</h2>
                    <p class="govuk-body">{{ i18n.pages.onlineSupportPages.whatIsThisServicePage.whoIsItForText }}</p>
                    <a href="{{ paths.common.gettingStarted }}"
                       class="govuk-link govuk-link--no-visited-state floater">{{ i18n.common.nextPage }}</a>
                </div>
            </div>
             </div>
        </main>
    </div>
{% endblock %}
