{% extends "layout.njk" %}
{% set pageTitleName = i18n.pages.ineligiblePage.title %}

{% block content %}
<h1 class="govuk-heading-xl">{{ title }}</h1>
<p>{{ description }}</p>
<ul class="govuk-list govuk-list--bullet">
  {% for item in optionsList %}
    <li>{{ item | safe }} </li>
  {% endfor %}
</ul>
<h2 class="govuk-heading-m">{{ i18n.pages.ineligiblePage.moreInfo.title }}</h2>
<ul class="govuk-list govuk-list--bullet">
  {% for item in i18n.pages.ineligiblePage.moreInfo.moreInfoList %}
    <li>{{ item | safe }} </li>
  {% endfor %}
</ul>
{% endblock %}

