{% extends '../layout.njk' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitleName = i18n.pages.overviewPage.timeline.appealApplicationCheckAnswersHistory.title %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ i18n.pages.overviewPage.timeline.appealApplicationCheckAnswersHistory.title }}</h1>
  {{ govukSummaryList({
    rows: data
  }) }}
{% endblock %}


