{% extends '../layout.njk' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitleName = title %}

{% block content %}
  <h1>{{ title  }}</h1>
  {% if description %}
    <p>{{ description }}</p>
  {% endif %}
  {{ govukSummaryList({
    rows: request
  }) }}

  {% if response %}
    <h2 class="govuk-heading-m govuk-!-margin-top-8">{{ responseTitle }}</h2>
    {% if responseDescription %}
      <p>{{ responseDescription }}</p>
    {% endif %}
    {{ govukSummaryList({
      rows: response
    }) }}
  {% endif %}

  {% if whatNext %}
    <h2 class="govuk-heading-m govuk-!-margin-top-8">{{ whatNextTitle }}</h2>
    <p>{{ whatNext | eval | safe }}</p>
  {% endif %}

  {% if whatNextList %}
    <h2 class="govuk-heading-m govuk-!-margin-top-8">{{ whatNextTitle }}</h2>
    {% for paragraph in whatNextList %}
      <p>{{ paragraph | eval | safe }}</p>
    {% endfor %}
  {% endif %}

  {{ contactUs() }}
{% endblock %}


