{% extends '../layout.njk' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set pageTitleName = i18n.pages.detailViewers.reasonsForAppealCheckAnswersHistory.title %}

{% block content %}
    <h1 class="govuk-heading-xl">{{ i18n.pages.detailViewers.reasonsForAppealCheckAnswersHistory.title  }}</h1>
    {% if hint %}
        <p>{{ hint | eval | safe }}</p>
    {% endif %}
    {{ govukSummaryList({
        rows: data
    }) }}
    {{ contactUs() }}

{% endblock %}


