{% set pageTitleName = i18n.pages.detailViewers.hoDocuments.title %}
{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList with context %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% import "components/text-components.njk" as text with context %}


{% block content %}

  <h1 class="govuk-heading-xl">{{ i18n.pages.detailViewers.hoDocuments.title }}</h1>

  {% set documentsRows = [] %}
  {% for document in documents %}
    {% set documentsRows = (documentsRows.push(
      [
        {
          text: document.dateUploaded
        },
        {
          html: document.url
        }
      ]
      ), documentsRows) %}
  {% endfor %}


  {{ govukTable({
    firstCellIsHeader: false,
    head: [
      {
        text: i18n.pages.detailViewers.common.dateUploaded
      },
      {
        text: i18n.pages.detailViewers.common.document
      }
    ],
    rows: documentsRows
  }) }}
  {{ contactUs() }}
{% endblock %}
