{% set pageTitleName = i18n.pages.reasonForAppeal.title %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% extends "layout.njk" %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      descriptionText: i18n.error.summary.descriptionText,
      errorList: errorList
    }) }}
  {% endif %}
  <form type="submit" action="{{ paths.reasonsForAppeal.decision }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% call govukFieldset({
      legend: {
        text: i18n.pages.reasonForAppeal.heading,
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}
      <p class="govuk-body">{{ i18n.pages.reasonForAppeal.usefulInfo | eval | safe }}</p>
      {{ govukTextarea({
        name: "applicationReason",
        id: "applicationReason",
        label: {
          text: i18n.pages.reasonForAppeal.textTitle | safe
        },
        value: applicationReason,
        errorMessage: {
          text:  error['applicationReason'].text
        } if error['applicationReason']
      }) }}
      <div class="panel-background">
        <h2 class="govuk-heading-s">{{ i18n.pages.reasonForAppeal.howToAnswer }}</h2>
        <ul>
          <li>{{ i18n.pages.reasonForAppeal.bulletOne | safe }}</li>
          <li>{{ i18n.pages.reasonForAppeal.bulletTwo | safe }}</li>
          <li>{{ i18n.pages.reasonForAppeal.bulletThree | safe }}</li>
          <li>{{ i18n.pages.reasonForAppeal.bulletFour | safe }}</li>
          <li>{{ i18n.pages.reasonForAppeal.bulletFive | safe }}</li>
          <br/>
        </ul>
        <p>{{ askForMoreTimeFeatureEnabled | dump }}</p>
        {% if askForMoreTimeFeatureEnabled %}
          <h2 class="govuk-heading-s">{{ i18n.common.askForMoreTime.needMoreTimeQuestion }}</h2>
          <ul>
            <li><a href='{{ paths.askForMoreTime }}'
                   class='govuk-link'>{{ i18n.common.askForMoreTime.saveAnswerAndAsk }}</a></li>
          </ul>
        {% endif %}
        <h2 class="govuk-heading-s">{{ i18n.pages.reasonForAppeal.needHelp }}</h2>
        <ul>
          <li><a class="evidence-list__link" href="#">{{ i18n.pages.reasonForAppeal.bulletLink }}</a></li>
        </ul>
      </div>
      <br/>
      {{ saveButtons() }}
    {% endcall %}
  </form>
{% endblock %}
