{% set pageTitleName = i18n.pages.reasonsForAppealUploadQuestion.title %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}


{% extends "layout.njk" %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      descriptionText: i18n.error.summary.descriptionText,
      errorList: errorList
    }) }}
  {% endif %}
  <form action="{{ paths.awaitingReasonsForAppeal.supportingEvidence }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% call govukFieldset({
      legend: {
        text: i18n.pages.reasonsForAppealUploadQuestion.provideSupportingEvidenceQuestion,
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}
      {{ radioButtons(legendText = '',hintText = i18n.pages.evidence.heading, errorMessage = errorList[0].text) }}
      {% if askForMoreTimeFeatureEnabled %}
        <div class="panel-background">
          <h2 class="govuk-heading-s">{{ i18n.common.askForMoreTime.needMoreTimeQuestion }}</h2>
          <ul>
            <li>{{ i18n.common.askForMoreTime.wantToProvideEvidenceLater }}
              <a href='{{ paths.common.askForMoreTime }}'
                 class='govuk-link'>{{ i18n.common.askForMoreTime.saveAnswerAndAsk | lower }}</a>
            </li>
          </ul>
        </div>
      {% endif %}
      {{ continueButton() }}
    {% endcall %}
  </form>

  {{ contactUs() }}
{% endblock %}
