{% set pageTitleName = i18n.pages.reasonsForAppealUpload.title %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "components/evidence-list.njk" import evidenceList with context %}


{% extends "layout.njk" %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.error.summary.title,
      descriptionText: i18n.error.summary.descriptionText,
      errorList: errorList
    }) }}
  {% endif %}

  <form action="{{ pathToSubmitEvidence }}?_csrf={{ csrfToken }}" method="post"
        enctype="multipart/form-data">
    {% call govukFieldset({
      legend: {
        text: i18n.pages.reasonsForAppealUpload.heading,
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}
      <p class="govuk-body">{{ i18n.pages.askForMoreTimePage.adviceHeader }}</p>

      <ul>
      {% for advice in i18n.pages.askForMoreTimePage.advice %}
        <li>{{ advice | safe }}</li>
      {% endfor %}
      </ul>

      <div class="govuk-inset-text">
        {{ govukFileUpload({
          id: "file-upload",
          name: "file-upload",
          label: {
            html: i18n.pages.reasonsForAppealUpload.uploadFile | safe
          },
          errorMessage: {
            text: errorList[0].text
          } if (errorList)
        }) }}

        {{ govukButton({
          text: i18n.common.buttons.uploadFile,
          name: 'uploadFile',
          classes: "govuk-button--secondary",
          attributes: {
            formaction: pathToUploadEvidence + '?_csrf=' + csrfToken,
            formEnctype: 'multipart/form-data'
          }
        }) }}
      </div>
      {{ evidenceList(evidences, evidenceCTA) }}
      {% if askForMoreTimeFeatureEnabled %}
        <div class="panel-background">
          <h2 class="govuk-heading-s">{{ i18n.common.askForMoreTime.needMoreTimeQuestion }}</h2>
          <ul>
            <li>{{ i18n.common.askForMoreTime.wantToProvideEvidenceLater }}
              <a href='{{ paths.askForMoreTime.reason }}'
                 class='govuk-link'>{{ i18n.common.askForMoreTime.saveAnswerAndAsk | lower }}</a>
            </li>
          </ul>
        </div>
      {% endif %}
    {% endcall %}
  </form>
  <form action="{{ pathToSubmitEvidence }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ continueButton() }}
    <a class="cancel-button" href="{{ paths.overview }}">{{ i18n.common.buttons.cancel }}</a>
  </form>

  {{ contactUs() }}

{% endblock %}
