{% set pageTitleName = i18n.pages.index.title %}
{% extends "layout.njk" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.validationErrors.errorSummary,
      errorList: errorList
    }) }}
  {% endif %}
  <h1 class="govuk-heading-l">{{ i18n.pages.homeOfficeAppealLate.title }}</h1>
  <p>{{ i18n.pages.homeOfficeAppealLate.description | safe }}</p>

  <form action="/home-office/appeal-late" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukTextarea({
      name: "appeal-late",
      id: "appeal-late",
      label: {
        text: i18n.pages.homeOfficeAppealLate.appealLateLabel
      },
      value: appealLateReason,
      attributes: {
        maxlength: maxCharacters
      },
      errorMessage: {
        text: error["appeal-late"].text
      } if error["appeal-late"]
    }) }}

    <h2 class="govuk-heading-m">{{ i18n.pages.homeOfficeAppealLate.provideEvidenceTitle }} </h2>
    <p>{{ i18n.pages.homeOfficeAppealLate.provideEvidenceDescription }}</p>
    <div class="govuk-inset-text">
      {{ govukFileUpload({
        id: "file-upload",
        name: "file-upload",
        label: {
          text: i18n.pages.homeOfficeAppealLate.fileUploadTitle
        },
        errorMessage: {
          text: error["uploadFile"].text
        } if error["uploadFile"]
      }) }}
    </div>

    {% if evidence %}
      <div class="evidence">
        <h3 class="govuk-heading-s">{{ i18n.pages.homeOfficeAppealLate.uploadedFileTitle }}</h3>
        <hr class="govuk-section-break govuk-section-break--visible">
        <ul class="govuk-list">
          <li class="list__item">
            <span>{{ evidence.name }}</span>
            <input type="submit" class="evidence-list__link" value="{{ i18n.common.links.delete }}" formaction="{{ paths.homeOffice.deleteEvidence }}"/>
          </li>
        </ul>
      </div>
    {% endif %}

    {{ saveButtons() }}
  </form>
  {{ contactUs() }}

{% endblock %}
