{% set pageTitleName = i18n.pages.index.title %}
{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "components/evidence-list.njk" import evidenceList with context %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.errorSummary.titleText,
      descriptionText: i18n.errorSummary.descriptionText,
      errorList: errorList
    }) }}
  {% endif %}
  <h1 class="govuk-heading-l">{{ i18n.pages.homeOfficeAppealLate.title }}</h1>

  <p>{{ i18n.pages.homeOfficeAppealLate.description | safe }}</p>

  <form action="/home-office/appeal-late" method="post" enctype="multipart/form-data">
    {{ govukTextarea({
      name: "appeal-late",
      id: "appeal-late",
      value: appealLateReason,
      errorMessage: {
        text: error["appeal-late"].text
      } if error["appeal-late"]
    }) }}

    <h2 class="govuk-heading-m">{{ i18n.pages.homeOfficeAppealLate.provideEvidenceTitle }} </h2>
    <div class="govuk-inset-text">
      {{ govukFileUpload({
        id: "file-upload",
        name: "file-upload",
        label: {
          text: i18n.pages.homeOfficeAppealLate.fileUploadTitle
        }
      }) }}

      {{ govukInput({
        label: {
          text: "What is the file"
        },
        id: "file-description",
        name: "file-description",
        classes: "govuk-!-width-two-thirds",
        attributes: {
          placeholder: 'e.g. a country report or copy of birth certificate'
        },
        errorMessage: {
          text: error["file-description"].text
        } if error["file-description"]
      }) }}

      {{ govukButton({
        text: i18n.common.buttons.uploadFile,
        name: 'uploadFile',
        classes: "govuk-button--secondary",
        attributes: {
          formaction: '/home-office/upload-evidence'
        }
      }) }}
    </div>

    {{ evidenceList(evidences, evidenceCTA) }}

    {{ govukButton({
      text: i18n.common.buttons.saveAndContinue,
      name: 'saveAndContinue'
    }) }}
  </form>

{% endblock %}
