{% set pageTitleName = i18n.pages.index.title %}
{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.validationErrors.errorSummary,
      errorList: errorList
    }) }}
  {% endif %}
  <h1 class="govuk-heading-l">{{ i18n.pages.homeOfficePage.title }}</h1>

  <p>{{ i18n.pages.homeOfficePage.description }}</p>

  <img
      src="/assets/images/home_office_ref_number.png"
      class="govuk-!-padding-bottom-4 govuk-!-padding-top-2"
      alt="{{ i18n.pages.homeOfficePage.refImageAltText }}"
  />

  <form action="/home-office/details" method="post">
    {{ govukInput({
      label: {
        text: i18n.pages.homeOfficePage.homeOfficeReferenceNumberLabel
      },
      classes: "govuk-input--width-20",
      id: "homeOfficeRefNumber",
      name: "homeOfficeRefNumber",
      value: homeOfficeRefNumber,
      errorMessage: {
        text:  errors['homeOfficeRefNumber'].text
      } if errors['homeOfficeRefNumber']
    }) }}

    {{ saveButtons() }}
  </form>
  {{ contactUs() }}
{% endblock %}
