{% set pageTitleName = i18n.pages.index.title %}
{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/date-component.njk" import dateInput %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: i18n.errorSummary.titleText,
      descriptionText: i18n.errorSummary.descriptionText,
      errorList: errorList
    })
    }}
  {% endif %}
  <h1 class="govuk-heading-l">{{ i18n.appealApplication.homeOfficeLetterSent.title }}</h1>

  <p>{{ i18n.appealApplication.homeOfficeLetterSent.description }}</p>

  <img src="/assets/images/home_office_letter_date.png" class="govuk-!-padding-bottom-4 govuk-!-padding-top-2"/>

  <form action="/home-office/letter-sent" method="post">

    {{
      dateInput(
        i18n.appealApplication.homeOfficeLetterSent.dateTitle,
        i18n.appealApplication.homeOfficeLetterSent.dateHint,
        error,
        dateLetterSent.day if dateLetterSent.day,
        dateLetterSent.month if dateLetterSent.month,
        dateLetterSent.year if dateLetterSent.year
      )
    }}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>

{% endblock %}
