{% macro bold(text) %}
  <b> {{ text }} </b>
{% endmacro %}

{% macro parentheses(text) %}
  ( {{ text }} )
{% endmacro %}

{% macro addMultipleHintsText(hints) %}
  {% for hint in hints %}
    <span id="waste-hint" class="govuk-hint">{{ hint }}</span>
  {% endfor %}
{% endmacro %}
